.navegacion{
    color: blueviolet;


}

.barra-de-navegacion{

    color: aqua;
}

#otro{

    color: rgb(2, 2, 2);
}
nav.limber{
    background-color: rgb(224, 187, 55) !important;
}

.form-control me-2{

    color: rgb(26, 23, 29);
}


